sudo: false
language: python
python:
  - "3.6"
cache: pip
script:
  - '[[ "${TRAVIS_COMMIT_MESSAGE}" == *"Deploy"* ]] && exit 0'
  - make publish
branches:
  only:
    - master
deploy:
  provider: pages
  target_branch: master
  email: code@tylerc.me
  name: Deployment Bot
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  on:
    branch: master
